* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100vh;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

/* --- Navigation --- */
nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  padding: 25px 0;
}

.logo {
  /* font-size: 2rem;
    font-weight: 600; */
  /* grid-column: span 3; */
  justify-self: center;
  /* text-decoration: none;
    color: #000; */
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.6s;
  cursor: pointer;
}

.btwnBtn {
  display: inline-block;
  width: 6rem;
  height: 28px;
  margin-right: 0.75rem;
  font-size: 12px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  border-radius: 99em;
  padding-left: 0;
  padding-right: 0;
  /* padding-left: 0.75rem;
    padding-right: 0.75rem; */
  padding-top: 0.25rem;
  align-self: center;
  justify-self: center;
}

#getStarted {
  grid-column: span 2;
  color: #fff;
  background: #e9454d;
  border: 2px solid #e9454d;
  /* #e02d3c */
  width: 15rem;
  margin: 20px 0;
}

/* --- Landing --- */
.landing,
.howToStart,
#becomeVendor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.landing {
  padding-bottom: 45px;
}

.landText {
  padding: 80px 70px;
}

.landText h3 {
  font-weight: 600;
  font-size: 2.5rem;
}

.landText p {
  font-size: 1rem;
}

.groupImg {
  align-self: center;
  text-align: left;
}

.groupImg img {
  width: 90%;
  /*    height: 75%;*/
}

/* --- Why join --- */
section {
  padding: 65px;
}

#why,
#phoneSection {
  /* display: grid; */
  background-color: #fafafa;
}

.sectionTitle,
.whyText h5,
.whyText p,
.howToStart h4,
.phoneColumn p {
  text-align: center;
}

.sectionTitle {
  padding-bottom: 30px;
}

.whyText {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 25px;
  padding-top: 30px;
  /* justify-content: space-evenly; */
}

.block {
  background: #fff;
  padding: 15%;
  box-shadow: 0 0 10px #d3d3d3;
}

.whyText h5,
.tick {
  color: #e9454d;
  font-weight: 600;
}

.howText p,
.whyText p,
.phoneColumn p,
.becomeText p {
  padding: 20px 0;
  font-size: 0.8rem;
}

.sectionTitle,
.howToStart h4 {
  font-weight: 600;
  font-size: 1.6rem;
}

/* --- How to start --- */
.howToStart h4 {
  grid-column: span 2;
}

.tick img {
  width: 25px;
  height: 25px;
  padding: 0 15px;
  position: relative;
  top: 10px;
}

.howText p {
  padding-left: 55px;
}

.btwnGraph {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.btwnGraph img {
  width: 60%;
  height: 60%;
  padding-bottom: 10px;
}

/* --- Phones --- */
.phones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.phoneImg {
  align-self: center;
}

.phoneImg img {
  width: 200%;
  height: 200%;
  position: relative;
  right: 48%;
}

.phoneColumn p {
  padding: 20px;
}

/* --- Become a vendor --- */
#becomeVendor {
  background-color: #e9454d;
  color: #fff;
  grid-gap: 0 50px;
  padding: 45px 65px;
}

.becomeText,
.becomeLinks {
  place-self: center;
}

.becomeText h4 {
  font-weight: 600;
  font-size: 1.2rem;
}

#contactUs,
#faq {
  color: #e9454d;
  background: #fff;
  border: 2px solid #fff;
  width: 12rem;
  margin: 10px 0;
}

/* --- Footer --- */
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 25px 50px;
}

#slogan,
.socialLinks {
  align-self: center;
}

#slogan h4 {
  font-weight: 600;
  font-size: 1.3rem;
  padding-bottom: 10px;
}

#slogan p {
  font-weight: 600;
  font-size: 0.7rem;
}

.socialLinks {
  justify-self: end;
  padding-top: 20px;
}

.socialLinks a img {
  height: 25px;
}

#linkedin img {
  position: relative;
  bottom: 2px;
  height: 22px;
  padding: 0 8px;
}

/* --- Media Queries --- */
@media only screen and (min-width: 1100px) {
}

@media only screen and (max-width: 769px) {
}

@media only screen and (max-width: 555px) {
  /* Landing */
  /* nav {
    grid-template-columns: repeat(1, 1fr);
    padding: 25px 0;
  } */

  /* .logo {
  grid-column: 1;
} */

  .logo img {
    width: 65%;
    /* text-align: center; */
  }

  .landing {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'landText'
      'button'
      'group';
  }

  .gropupImg {
    justify-self: center;
    grid-area: group;
    text-align: center;
  }

  .groupImg img {
    width: 80%;
    /*    height: 75%;*/
  }

  .landText {
    padding: 25px 35px;
    text-align: left;
    grid-area: landText;
  }

  .landText h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

  .landText p {
    font-size: 0.9rem;
  }

  #getStarted {
    grid-area: button;
    grid-column: span 1;
    margin-bottom: 40px;
    width: 10rem;
  }

  /* Why join */
  section {
    padding: 20px;
  }

  .sectionTitle {
    font-size: 1.3rem;
    padding-bottom: 0px;
    padding-top: 10px;
  }

  .whyText {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    /* padding-top: 10px; */
    /* justify-content: space-evenly; */
  }

  .block {
    padding: 10%;
    margin: 5%;
    /* box-shadow: 0 0 10px #d3d3d3; */
  }

  .whyText h5
  /* .tick */ {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .whyText p {
    font-size: 1rem;
    text-align: left;
  }

  /* How to start */
  .howToStart,
  #becomeVendor {
    grid-template-columns: repeat(1, 1fr);
  }

  .howToStart h4 {
    grid-column: span 1;
  }

  /* Phones */
  .phones {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }

  .phoneImg {
    align-self: center;
  }

  .phoneImg img {
    width: 200%;
    height: 200%;
    position: relative;
    right: 48%;
  }

  .phoneColumn p {
    padding: 0 40px;
  }

  /* Become a vendor */
  #becomeVendor {
    padding: 35px;
  }

  .becomeText,
  .becomeLinks {
    text-align: center;
  }

  .becomeText h4 {
    font-size: 1.2rem;
  }

  #contactUs,
  #faq {
    width: 12rem;
    margin: 10px 0;
  }

  /* Footer */
  footer {
    grid-template-columns: repeat(1, 1fr);
    padding: 35px;
  }

  /* #slogan,
.socialLinks {
  align-self: center;
} */

  /* #slogan h4 {
  font-size: 1.3rem;
  padding-bottom: 10px;
} */

  /* #slogan p {
  font-size: 0.7rem;
} */

  .socialLinks {
    justify-self: center;
    /* padding-top: 20px; */
  }

  /* .socialLinks a img {
  height: 25px;
} */

  /* #linkedin img {
  position: relative;
  bottom: 2px;
  height: 22px;
  padding: 0 8px;
} */
}
